@import url(//fonts.googleapis.com/css?family=Lato:300:400);
* {
    font-family: fatfrank, sans-serif;
    font-style: normal;
    font-weight: 400;
}
li{
    color: rgb(0, 0, 0);
}
.encabezado {
    width: 100%;
    height: 200px;
}
#dispensadores01{
    padding-top: 150px;
}
#fotosSecciones{
    padding-top: 80px;
}

.imgEncabezado{
    display: flex;
    position: absolute;
    padding : 40px 1px 1px 30px
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
}
#tablas{
    height: 250px;
}
#formularioRazon{
    max-width: 546px;
    max-height: 100%;
}


h1 {
    letter-spacing: 2px;
    font-size: 25px;
    color: #777777;
}

p {
    letter-spacing: 1px;
    font-size: 17px;
    color: #000000;
    margin-bottom: 0;
    padding-bottom: 20px;
    line-height: 2;
}


textarea {
    background: none;
    color: #000000;
    width: 100%;
    height: 100px;
}

.line{
    width: 100%;
    height: 5px;
    background: rgb(193, 193, 193);
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.btn-info {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    width: 250px;
}

#exportarpdf {
    text-align: center;
    background: none;
    color: #338db8;
    text-transform: Uppercase;
    cursor: pointer;
    border: none;
}


/*****************************Iconos***************************/

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

[type=checkbox]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 2px solid rgb(92, 92, 92);
}

/******************************navbar**************************/

:root {
    scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

header {
    position: fixed;
    top: 2rem;
    width: 100%;
    transition: 0.5s;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    width: 80%;
    height: 70px;
    margin: auto;
    box-shadow: 0px 6px 16px -6px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    background-size: cover;
    background-position: center;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: 0.5s;
}

.logo {
    width: 30px;
    position: relative;
    top: -5px;
}

#active {
    display: flex;
    background: #348db8;
}

.active:hover {
    color: #fff;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 24px 20px;
    background-color: inherit;
    font-family: inherit;
    transition: 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    margin: auto 0rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: #888888;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#files {
    display: none;
}

@media screen and (max-width: 820px) {
    .topnav {
        height: auto;
    }

    #active b {
        display: none;
    }

    .logo {
        width: 40px;
        position: static;
    }

    .dropdown .dropbtn {
        padding: 14px 16px;
    }

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 820px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding: 14px 16px;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
/******************************header**********************/
:root {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*,
:before,
:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -o-box-sizing: inherit;
    box-sizing: inherit;
}

#page-wrap {
    position: relative;
    display: block;
    clear: both;
    background: none;
    color: #000;
    text-decoration: none;
    padding: 3rem 0;
    width: 100%;
    
}

#inner-wrap {
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 3rem;
    display: table;
    width: 100%;
    height: 50%;
    min-height: 322px;
    overflow: visible;
}

.logo {
    z-index: 1;
    top: 3rem;
    left: 2rem;
    display: block;
    width: 9vmax;
    height: 9vmax;
    min-width: 50px;
    min-height: 50px;
}

.waves {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    min-width: 100%;
    min-height: 70%;
    margin: auto 0;
}

img,
svg {
    display: block;
    overflow: visible;
    pointer-events: none;
}

.group:before,
.group:after {
    content: "";
    display: table;
    clear: both;
}

.group {
    zoom: 1;
}
.waves>path {
    -webkit-animation: a 17390ms ease-in-out infinite alternate-reverse both;
    -moz-animation: a 17390ms ease-in-out infinite alternate-reverse both;
    -ms-animation: a 17390ms ease-in-out infinite alternate-reverse both;
    -o-animation: a 17390ms ease-in-out infinite alternate-reverse both;
    animation: a 17390ms ease-in-out infinite alternate-reverse both;
    -webkit-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
    -moz-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
    -ms-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
    -o-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
    animation-timing-function: cubic-bezier(.25, 0, .75, 1);
    -webkit-will-change: transform;
    -moz-will-change: transform;
    -ms-will-change: transform;
    -o-will-change: transform;
    will-change: transform
}

.waves>path:nth-of-type(1) {
    -webkit-animation-duration: 20580ms;
    -moz-animation-duration: 20580ms;
    -ms-animation-duration: 20580ms;
    -o-animation-duration: 20580ms;
    animation-duration: 20580ms
}

.waves>path:nth-of-type(2) {
    -webkit-animation-delay: -2690ms;
    -moz-animation-delay: -2690ms;
    -ms-animation-delay: -2690ms;
    -o-animation-delay: -2690ms;
    animation-delay: -2690ms;
    -webkit-animation-duration: 13580ms;
    -moz-animation-duration: 13580ms;
    -ms-animation-duration: 13580ms;
    -o-animation-duration: 13580ms;
    animation-duration: 13580ms
}

g>path:nth-of-type(1) {
    -webkit-animation-delay: -820ms;
    -moz-animation-delay: -820ms;
    -ms-animation-delay: -820ms;
    -o-animation-delay: -820ms;
    animation-delay: -820ms;
    -webkit-animation-duration: 10730ms;
    -moz-animation-duration: 10730ms;
    -ms-animation-duration: 10730ms;
    -o-animation-duration: 10730ms;
    animation-duration: 10730ms
}

.waves>path:nth-of-type(1),
g>path:nth-of-type(2) {
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translateX(-750px);
        transform: translateX(-750px)
    }

    100% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

@-moz-keyframes a {
    0% {
        -moz-transform: translateX(-750px);
        transform: translateX(-750px)
    }

    100% {
        -moz-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

@-ms-keyframes a {
    0% {
        -ms-transform: translateX(-750px);
        transform: translateX(-750px)
    }

    100% {
        -ms-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

@-o-keyframes a {
    0% {
        -o-transform: translateX(-750px);
        transform: translateX(-750px)
    }

    100% {
        -o-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

@keyframes a {
    0% {
        -webkit-transform: translateX(-750px);
        -moz-transform: translateX(-750px);
        -ms-transform: translateX(-750px);
        -o-transform: translateX(-750px);
        transform: translateX(-750px)
    }

    100% {
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}
/***************************formulario**********************/

.btn-theme-sm {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 30px;
    width: 180px;
}

.btn-base-bg {
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background: #000000;
    border-color: transparent;
    border-width: 0;
}
.form-control {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    background: #555;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 15px;
    border-radius: 5px;
}
#razonSocial::placeholder {
    color: rgb(255, 255, 255);
}
#ciudad::placeholder {
    color: rgb(255, 255, 255);
}
#bandera::placeholder {
    color: rgb(255, 255, 255);
}
#eds::placeholder {
    color: rgb(255, 255, 255);
}
#tecnicos::placeholder {
    color: rgb(255, 255, 255);
}
#ott::placeholder {
    color: rgb(255, 255, 255);
}

label {
    min-height: 25px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding: 5px 0;

}
/*****************************Fotos**********************************/
.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.form-input {
    width: 500px;
    padding: 20px;
    border: 2px solid #555;
    border-radius: 15px;
}

.form-input input {
    display: none;
}

.form-input label {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.form-input img {
    width: 100%;
    display: none;
    margin-top: 10px;
}
#seccion2{
    scroll-behavior: smooth;
}

/************************************************/

//////////////////////////fotos/////////////////////////
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Raleway');

// variables
$base-color: rgb(0, 0, 0);
$base-font: 'Raleway', sans-serif;

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.box {
  display: block;
  min-width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: $base-color;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
  &:hover {
    background-color: lighten($base-color, 10%);
  }
  & input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  & label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    &::after {
      content: 'add'; 
      font-family: 'Material Icons';
      position: absolute;
      font-size: 2.5rem;
      color: rgba(230, 230, 230, 1);
      top: calc(50% - 2.5rem);
      left: calc(50% - 1.25rem);
      z-index: 0;
    }
    & span {
      display: inline-block;
      width: 50%;
      height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      &:hover i.material-icons {
        color: lightgray;        
      }
    }
  }
}


.js--image-preview {
  height: 240px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('');
  background-color: rgb(71, 71, 71);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: "photo_size_select_actual"; 
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  &.js--no-default::after {
    display: none;
  }
  &:nth-child(2) {
    background-image: url('http://bastianandre.at/giphy.gif');
  }
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize($base-color, .8);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
///////////////////////////////////////////////////////////
table.table-bordered {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
}

table.table-bordered>thead>tr>th {
    border: 1px solid rgb(0, 0, 0);
}

table.table-bordered>tbody>tr>td {
    border: 1px solid rgb(0, 0, 0);
}
table input{
    background-color: none;
}
tbody,td,tfoot,th,thead,tr {
    height: 41px;
}

///////////////////////////////////////////////////////////

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}
.textArea{
    height: 125px;
    border-radius: 15px;
    padding: 20px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
/***************************************************/
.img-area {
    position: relative;
    width: 100%;
    height: 290px;
    background: var(--grey);
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.img-area .icon {
    font-size: 100px;
}

.img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.img-area p {
    color: #999;
}

.img-area p span {
    font-weight: 600;
}

.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}

.img-area.active:hover::before {
    opacity: 1;
}

.select-image {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 15px;
    background: var(--blue);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    background-color: #000;
}

.select-image:hover {
    background: var(--dark-blue);
}